@media (min-width:300px)
{
 nav ul
 {
  position: fixed;
 }
}

@media (max-width:1200px)
{

}

@media (max-width:996px)
{

}

@media (max-width:768px)
{
 
  .header-menu
  {
   display: none;
  }

  .menu-burger
  {
   display: block;
   color: #fff;
   position: fixed;
   z-index: 1000;
   color: darkblue;
   top: 1vw;
   right: 1.5vw;
  }
  .menu-burger:hover
  {
   cursor: pointer;
  }

  .menu-burger i
  {
    font-size: 8vw!important;
  }
  .show
  {
   margin: 0;
   position: fixed;
   height: 150vw;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .show li
  {
   display: block;
   padding: 6.5vw;
   text-align: center;
  }

  .show li a
  {
    font-size: 4vw;
  }

  .show li a:hover
  {
    font-size: 7.9vw;
  }

  .show li a:focus
  {
    background-color: transparent;
  }

  nav ul
 {
  position: fixed;
  margin-top: 2vw;
  border-radius: 0;
  /* right: 6vw; */
  top: 9vw;
  background-color: rgba(3, 86, 170, 0.8);
  border-radius: 5px;
  transition: 0.5s;
 }
  nav ul:hover
  {
    transform: translateY(2vw);
    box-shadow: 0px 0px 40vw #000000;
  }


.services-box
{
  width: 47%;
  height: 20vw;
}

.services-box h3
{
  font-size: 2.5vw;
}
.services-box p
{
  font-size: 2vw;
}

.services-box ul li a 
{
  font-size: 1.7vw;
}

.main-services
{
  justify-content: space-evenly;
  align-items: stretch;
  padding: 0;
  margin: 0;
  height: 145vw;
}
/* _______________Main-working____________________ */
.working-box
{
 width: 100%;
 /* height: 30vw; */
 margin-bottom: 2vw;
}

.main-working
{
  height: 200vw;
}

.working-box img
{
  width: 30%;
}

.working-box h3
{
  font-size: 3.3vw;
  padding-bottom: 1.5vw;
  margin-right: 2vw;
}

.working-box p
{
  font-size: 1.9vw;
  padding-bottom: 1vw;
  color: #444;
}

.working-box ul
{
  margin-bottom: 2vw;
}

.working-box ul li a
{
  padding:2vw;
  color: #272424;
  font-size: 2.2vw;
}

.btn-working a
{
  font-size: 2.5vw;
}

.btn-working a:hover
{
  font-size: 3.5vw;
}
}

@media (max-width:576px)
{
  .show li
  {
   padding: 6.5vw;
  }

  .main-services
  {
    height: 410vw;
  }

  .services-box
  {
    width:80%;
    height: 30vw;
  }

  .services-box img
  {
    width: 100%;
  }

  .services-box h3
  {
  font-size: 3vw;
  }
  .services-box p
  {
   font-size: 2vw;
  }

  .services-box ul li a 
  {
  font-size: 2vw;
  }

.btn-services a
{
  font-size: 2.1vw;
}
/* _____________Main-Working_________________ */
.working-box
{
 width: 100%;
 /* height: 30vw; */
 margin-bottom: 4vw;
}
.main-working
{
  height: 250vw;
}
/* ____________Main-Teacher_________________ */
.main-teacher-box
{
  width: 100%;
}

.main-teacher-box img
{
  width: 40%;
  height: 30vw;
}

.main-teacher-box-text
{
  padding-bottom: 1vw;
}
.main-teacher-box-text h4
{
  font-size: 3.2vw;
}
.main-teacher-box-text p
{
  font-size: 2.5vw;
}
.btn-teacher-box
{
  width: 100%;
  font-size: 3vw;
}

.main-teacher
{
  height: 180vw;
}
/* ______________footer_______________ */
.footer
{
  flex-direction: column;
}

.footer-logo
{
  margin-bottom: 2vw;
}

.footer-logo img
{
  width: 40%;
  height: 16vw;
}

.footer-logo h3
{
  font-size: 3.3vw;
}

.footer-logo a
{
  font-size: 2.5vw;
}

.footer-logo a:hover
{
  font-size: 2.5vw;
}

.footer-news
{
  margin-bottom: 2vw;
}
.footer-news h3
{
 font-size: 3vw;
}

.footer-news p a
{
  font-size: 2.7vw;
}

.footer-teacher a
{
  font-size: 3vw;
}
}

@media (max-width:450px)
{
 .show li
 {
  padding: 6.6vw;
 }

}

@media (max-width:374px)
{
 .show li
 {
  padding: 6.7vw;
 }

}