@font-face
{
 font-family: 'vazir';
 src: url("../fonts/font/Vazir.eot") format("eot");
 src: url("../fonts/font/Vazir.ttf") format("ttf");
 src: url("../fonts/font/Vazir.woff") format("woff");
src: url("../fonts/font/Vazir.woff2")format("woff2");
}

*
{
  margin: 0;
  padding: 0;
  font-family: vazir;
}

ul
{
  list-style: none;
}

li
{
  display: inline-block;
}

a
{
  text-decoration: none;
  color: #fff;
  font-size: 1.5vw;
  transition: 0.5s;
}

a:hover
{
  color: darkblue!important;
  background-color: transparent!important;
}

.d-flex
{
  display: flex;
}
.d-grid
{
  display: grid;
}


/* _____________________________Header_______________________________ */
header
{
  width: 100%;
  height: 60vw;
  background: url("../images/bg-3.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

nav
{
  justify-content: center;
}

nav ul
{
  position: fixed;
  background-color: rgba(3, 86, 170, 0.7);
  box-shadow: 0px 0px 20px #000000;
  margin-top: 2vw;
  border-radius: 5px;
  z-index: 9000;
  transition: all 0.6s;
}

nav ul:hover
{
  box-shadow: 0px 0px 40vw #000000;
  transform: translateY(2vw);
}

nav ul li
{
  padding: 1.5vw;
}

nav ul li a:hover
{
  font-size: 2vw;
}

.header-center
{
 position: absolute;
 bottom: 50%;
 right: 50%;
 transform: translate(50%,50%);
  text-align: center;
  background-color: rgba(129, 192, 255, 0.30);
  padding: 3vw;
  border-radius: 5px;
  transition: all 0.5s;
}


.header-center h3
{
  font-size: 3vw;
  color: #f5f8fa;
}

.header-center h5
{
  font-size: 2vw;
  color: rgb(250, 250, 121);
  margin-bottom: 2vw;
}

.header-center p
{
  font-size: 1.9vw;
  color: #f5f8fa;
  margin-bottom: 3vw;
}

.header-center p span
{
  color: darkblue;
}

.header-center a
{
  background-color: #40c6f3;
  padding:1.4vw 2vw;
  border-radius: 40px;
  text-align: center;
}
.header-center a:hover
{
  color: #fff!important;
  border: 2px solid #40c6f3;
}

.menu-burger
{
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 3%;
  right: 5%;
  display: none;
}
.menu-burger i
{
  font-size: 5vw;
}

/* _____________________________Main-Services______________________________ */

.main-services
{
  width: 100%; 
  height: 95vw;  

  flex-wrap: wrap;
  justify-content: space-around;
  align-items:stretch;

 background-color: rgba(235, 235, 235,0.5);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center; 
 box-shadow: 0vw 1vw 2vw #000000;
}


.services-title
{
  text-align: center;
  margin:3vw;
  font-size: 3vw;
  background-color: #40c6f3;
  color: #fff;
}

.services-box
{
  width: 26%;
height: 20vw;
text-align: center;
margin-top: 2vw;
}

.box-main
{
  box-shadow:0px 0px 10px rgb(179, 175, 175);
  transition: all 0.5s;
}
.services-box img
{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow:0px 0px 10px rgb(160, 157, 157);
  transition: all 0.5s;
}

.services-box img:hover
{
  transform: translateY(-0.5vw);
}

.box-main:hover
{
  box-shadow: 0px 2px 4vw #cfcccc;
  transform: translateY(-0.5vw);
}

.services-box h3
{
  font-size: 2vw;
  color: rgb(75, 72, 72);
  padding-bottom: 2vw;
}

.services-box p
{
  font-size: 1.3vw;
  color: #443;
  padding-bottom: 1vw;
}

.services-box ul li
{
 padding-bottom:1vw ;
}

.services-box ul li a
{
 color: #000000;
 /* transition:all 0.5s; */
 font-size: 1vw;
 padding:0 5px;
}
.services-box ul li a:hover
{
  color: darkblue!important; 
}

.services-box ul li a:focus
{
  color: darkblue;
}

.services-box ul li a i
{
  color: #0d80a7;
}


.btn-services
{
  width: 100%; 
  background-color: #40c6f3;
  border: none;
  outline: none;
  /* border-radius: 5px; */
  text-align: center;
  /* padding: 5px 10px; */
  padding: 1vw 3vw;
  transition: all 0.4s;
}
.btn-services a
{
  color: #fff!important;
  font-size: 1.7vw;
}

.btn-services:hover
{
  background-color: darkblue;
}

/* __________________________Main-Working____________________________ */

.main-working
{
   justify-content: space-evenly; 
  text-align: center;
 flex-wrap: wrap;
  width: 100%;
  height: 90vw;
 background-color: rgba(204, 204, 204, 0.14);
 box-shadow: 0vw 1vw 2vw #000000;
}

.working-title
{
    text-align: center;
    margin:3.5vw;
    font-size: 3vw;
    background-color: #40c6f3;
    color: #fff;
}

.working-box
{
  width: 50%;
  height: 30vw;
}

.working-box img
{
  width: 43%;
  height: 24vw;
}

.working-box h3
{
  font-size: 2.5vw;
  padding-bottom: 1vw;
}

.working-box p
{
  font-size: 1.4vw;
  padding-bottom: 0.5vw;
  color: #444;
}

.working-box ul
{
  margin-bottom: 1vw;
}
.working-box ul li a
{
  padding:2vw;
  color: #272424;
  font-size: 1.4vw;
}

.working-box ul li a i
{
  color: #1976D2;
}

.work-box-caption
{
 width: 95%;
}
.btn-working
{
  width: 85%;
  height: 10%;
  border: none;
  outline: none;
  background-color: #229fc9;
  text-align: center;
  padding: 1vw;
  border-radius: 5px;
  transition: all 0.5s;
}

.btn-working:hover
{
  transform: translateY(-0.7vw);
  background-color: rgba(0, 0, 87, 0.9);
  /* box-shadow: 0px 0px 4vw; */
}

.btn-working a:hover
{
  font-size: 2vw;
  color: #fff!important;
}

/* ______________________Main-About___________________________ */

.about-title
{
  text-align: center;
  margin:3.5vw;
  font-size: 3vw;
  background-color: #40c6f3;
  color: #fff; 
}

.main-about
{

  /* background: url("../images/2222.jpg") no-repeat center;  */
  background-size: cover;
  width: 100%;
  height: 70vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='rgba(64%2c 198%2c 243%2c 1)'%3e%3c/rect%3e%3cpath d='M54 800L854 0L1259 0L459 800z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M503.20000000000005 800L1303.2 0L1570.2 0L770.2 800z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M1385 800L585 0L31.5 0L831.5 800z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M937.8 800L137.79999999999995 0L-235.70000000000005 0L564.3 800z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M887.3467283662512 800L1440 247.34672836625123L1440 800z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M0 800L552.6532716337488 800L 0 247.34672836625123z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1004'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.about-box
{
  width: 70%;
  height: 58%;
  /* background: rgb(46,124,181);
  background: linear-gradient(90deg, rgba(46,124,181,1) 0%, rgba(69,179,255,1) 100%);  */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
   border-radius: 5px;
   box-shadow: 0vw 0vw 6vw; 
  transition: all 0.5s;
  background-color: rgb(241, 249, 250);
}

.about-box:hover
{

  transform: translateY(2vw);
}

.about-caption
{
  font-size: 2.2vw;
  color: #fff;
  background-color: #40c6f3;
  padding: 1vw;
  border-radius: 10px;
}

.about-description
{
  font-size: 2vw;
  color: #444;
}

.about-list li
{
  padding: 0 1vw;
}

.about-list li a
{
  color: #1976D2;
}

.btn-about
{
  background-color: #40c6f3;
 width: 100%;
  transition:0.5s !important;
  font-size: 2vw;
  color: #022246!important;
}

.btn-about:hover
{
  color: #fff!important;
  background-color: #022246!important;
}

/* __________________________Main-Email-box______________________________ */

.main-email
{
  width: 100%;
  height: 20vw;
  justify-content: center;
  align-items: center;
  text-align: center;
background-color:#3ec1ed;
}

.email-box-title
{
  text-align: center;
  margin:3vw 0;
  font-size: 3vw;
  background-color: #40c6f3;
  color: #fff; 
}

.email-box-caption
{
  color: #fff;
  font-size: 2vw;
  padding-bottom:2vw;
}

.email-box
 {
   flex-direction: column;
   align-items:center;
 } 

 ::placeholder
 {
   color: #444;
 }
 .email-type
 {
   width: 60%;
   padding: 1vw ;
   border-radius: 5px;
   border: none;
   outline: none;
   box-shadow: 0vw 0vw 2vw rgba(180, 180, 180,0.3);
   color: #272424;
   font-size: 1.5vw;
   margin-bottom: 1.3vw;
 }

.btn-submit
{
  width: 25%;
  padding: 0.6vw;
  font-size: 1.5vw;
  border: none;
  outline: none;
  color: #fff;
  background-color: #22a9d6;
  border-radius:5px;
  transition: 0.5s;
}

.btn-submit:hover
{
  box-shadow: 0vw 0vw 2vw rgba(0, 0, 0,0.5);
  transform: translateY(1vw);
  background-color: #01015f;
  color: #fff;
}

/* _____________________Main-teacher__________________________ */
.main-teacher-title
{
  text-align: center;
  margin:3.5vw;
  font-size: 3vw;
  background-color: #40c6f3;
  color: #fff; 
}

.main-teacher
{
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #cfcccc31;
  margin-bottom: 5vw;
}

.main-teacher-box
{
  display: flex;
  position: relative;
  width: 44%;
  height:35vw;
  flex-direction: column;
  padding: 2vw 2vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-teacher-box img
{
  width: 58%;
  height: 120%;
  border-radius: 50%;
}

.main-teacher-box-text
{
  background-color: rgba(204, 204, 204, 0.178);
  height: 90%;
  margin-top: 2vw;
  padding: 0 1vw;
  transition: 0.5s;
}

.main-teacher-box-text:hover
{
  box-shadow: 0 0 2vw #1976d23f;
}

.main-teacher-box-text h4
{
  font-size: 2.3vw; 
  padding-bottom: 1vw;
}

.main-teacher-box-text p
{
  font-size: 1.31vw;
  padding-bottom: 0.5vw;
  color: #444;
}

.btn-teacher-box
{
  background-color: #40c6f3;
  border: none;
  outline: none;
  width: 80%;
  height: 30%;
  font-size: 2vw;
  color: #fff;
  transition: 0.5s;
}
.btn-teacher-box:hover
{
  background-color: #01015f;
  color: #fff;
  transform:translateY(1vw);
}
/* __________________________Footer________________________________ */
.line-top
{
  width: 100%;
  height: 0.5vw;
  background-color: rgb(255, 255, 255);
}
.footer
{
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background: rgb(89,212,255);
  background: linear-gradient(90deg, rgba(89,212,255,1) 0%, rgba(7,135,209,1) 100%); 
  box-shadow: 0vw 0vw 2vw rgb(110, 109, 109);
  padding: 5vw;
}

.footer-logo
{
  text-align: center;
}

.footer-logo img
{
  width: 50%;
  height: 11vw;
}

.footer-logo h3
{
   color: #ffffff;
   padding: 1vw 0;
   font-size: 2vw;
}

.footer-logo a 
{
  color: rgb(255, 255, 255);
  padding: 1vw 0.7vw;
}

.footer-logo a:hover
{
  font-size: 2.2vw;
}



.footer-news
{
  text-align: center; 
}

.footer-news h3
{
  font-size: 2vw;
  color: #fcfcfccb;
  padding-bottom: 1vw;
}

.footer-news p
{
  padding: 0.7vw;
}

.footer-news p a
{
  font-size: 1.8vw;
  color: rgb(9, 0, 92);
}

.footer-news p a:hover
{
  font-size: 2vw;
  color: #123e70!important;
}

.footer-teacher
{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3vw;
}

.footer-teacher h3
{
  margin-bottom: 1vw;
  font-size: 2.2vw;
  color: #fcfcfccb;
}

.footer-teacher a
{
 padding-bottom: 1vw;
 color: #000157;
 font-size: 1.7vw;
}

.footer-teacher a:hover
{
  color: #02005edc!important;
  font-size: 2vw;
}

